.indigo {
    color: indigo;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    min-height: 300px;
}

.image-small {
    min-height: 192px;
}

.image-big {
    max-height: 430px;
}

.box {
    display: inline-block;
    width: 600px;
    border-radius: 15px;
    justify-content: center;
    background-color: rgba(112, 24, 228, 0.562);
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
}